body {
  background-color: #68bfbf;
  text-align: center;
}

h1 {
  margin: 5% 0;
  font-size: 80px;
  font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: ;
}

h5 {
  font-weight: 100;
  font-size: small;
}

.row {
  margin-bottom: 100px;
}

.dice-img {
  width: 150px;
}
